.contact-desc{
	background-image: url('../../img/conatcts-map.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	



	@media (min-width:320px){
		.contact-desc__title{
			width: 320px;
			margin: 0 auto;
			margin-top: 0;
			padding-top: 10%;
			padding-bottom: 5%;	
		}
		&__inner{
			width: 320px;
			display: flex;
			flex-wrap:wrap;
			padding-bottom: 25%;
			

			.contact-desc__item{
				width: 49%;
				padding-top: 10%;

				.contact-desc__person{
					display: none;
				}
				.contact-desc__tel{
					display: none;
				}
				.contact-desc__vk{
					display: none;
				}
				.contact-desc__link{
						display: none;	
				}
			}
		}
	}


	@media (min-width:768px){
		.contact-desc__title{
			width: 768px;
			margin: 0 auto;
			margin-top: 0;
			padding-top: 5%;
			padding-bottom: 0;	
		}
		&__inner{
			width: 768px;
			display: flex;
			flex-wrap:wrap;
			padding-bottom: 10%;

			.contact-desc__item{
				width: 25%;
				
				.contact-desc__person{
					display: block;
				}
				.contact-desc__tel{
					display: block;
				}
				.contact-desc__vk{
					display: block;
				}
				.contact-desc__link{
					display: block;	
				}
			}
		}
	}


	@media (min-width:1280px){
		.contact-desc__title{
			width: 1280px;
			margin: 0 auto;
			margin-top: 0;
			padding-top: 5%;
			padding-bottom: 0;	
		}
		&__inner{
			width: 1280px;
			display: flex;
			justify-content: space-between;
			padding-bottom: 10%;

			.contact-desc__item{
				width: 13.33%;
					
				.contact-desc__person{
					display: block;
				}
				.contact-desc__tel{
					display: block;
				}
				.contact-desc__vk{
					display: block;
				}
				.contact-desc__link{
					display: block;	
				}
			}
		}
	}


.contact-desc__title{
			font-family: 'Jura Light', arial;
			font-size: 30px;
			color: #fff;
			
		}

	&__inner{
		width: 1280px;
		margin: 0 auto;
		padding-bottom: 10%;

		


		.contact-desc__item{
			padding-top: 5%;

			.contact-desc__region{
				font-family: 'Jura Light', arial;
				font-size: 20px;
				color: #fff;
				margin: 0 auto;
				
			}
			.contact-desc__region:before{
				content: "  ";
				display: inline-block;
				width: 10px;
				height: 10px;
				background-color: #03eaa5;
				vertical-align: middle;
			}
			.contact-desc__person{
				font-family: 'Ubuntu', sans-serif;
				font-size: 14px;
				color: #fff;
				padding-bottom: 12%;
				padding-top: 8%;
			}
			.contact-desc__tel{
				font-family: 'Ubuntu', sans-serif;
				font-size: 14px;
				text-decoration: none;
				color: #fff;
				padding-bottom: 5%;	
			}
			.contact-desc__vk{
				font-family: 'Ubuntu', sans-serif;
				font-size: 14px;
				text-decoration: none;
				color: #fff;
				padding-bottom: 5%;
			}
			.contact-desc__link{
				font-family: 'Ubuntu', sans-serif;
				font-size: 14px;
				text-decoration: none;
				color: #fff;
				padding-bottom: 5%;	
			}
		}
	}
}