.fact-section{
	background: #f7f7f7;


	@media (min-width:320px){
		&__inner{
			width: 320px;

			.fact-section__title{
			}

		.fact-section__list{
			

			.fact-list__item{
		

				.fact-list__number{
				
					
				}
			}

			.fact-list__item:before{
				
			}	
		}
		}
	}


	@media (min-width:768px){
		&__inner{
			width: 768px;

			.fact-section__title{
			
			}
		
			.fact-section__line{
				display: none;
				
			}
			.fact-section__list{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				padding-left: 0;
				border-top: 2px solid #03eaa5;
				padding-bottom: 3%;

				.fact-list__item{
					position: relative;
					

					.fact-list__number{
						
						position: absolute;
						top:-38px;
						z-index:1;
					}	
				}

				.fact-list__number:before{
					left:0px;
				}	
			}
		}
	}


	@media (min-width:1280px){
		&__inner{
			width: 1280px;

			.fact-section__title{
			
			}
		
			.fact-section__line{
				display: none;
				
			}
			.fact-section__list{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				padding-left: 0;
				border-top: 2px solid #03eaa5;
				padding-bottom: 3%;

				.fact-list__item{
					position: relative;
					

					.fact-list__number{
						
						position: absolute;
						top:-38px;
						z-index:1;
					}	
				}

				.fact-list__number:before{
					left:0px;
				}	
			}
		}
	}

	&__inner{
		width: 1280px;
		margin: 0 auto;

		font-family: 'Jura Light', arial;
		position: relative;
		

		.fact-section__title{
			color: #201b38;
			font-family: 'Jura Light', arial;
			font-size: 30px;
			box-sizing: border-box;
			padding-top: 3%;
			padding-bottom: 3%;
			margin-top: 0;
		}
		
		.fact-section__line{
			border-top: 1px solid #03eaa5;
			width: 250px;
			transform: rotate(90deg);
			position: absolute;
			top:280px;
			left:-97px;
		}
		.fact-section__list{
			list-style: none;

			.fact-list__item{
				position: relative;
				font-family: 'Ubuntu', sans-serif;
				font-weight: lighter;
				color: #201b38;
				font-size: 16px;
				line-height: 30px;
				box-sizing: border-box;
				padding-right: 8%;
				padding-top: 4%;

				.fact-list__number{
					font-family: 'Ubuntu', sans-serif;
					font-weight: bold;
					color: #201b38;
					font-size: 44.8px;
					color: #e6e6e6;
				}	
			}

			.fact-list__number:before{
				content: "  ";
				position: absolute;
				top:32px;
				left:-20px;
				width: 15px;
				height: 15px;
				background-color: #03eaa5;
				vertical-align: middle;
				z-index:2;
			}	
		}
	}
}