.footer{
	background-color:#201b38;
	height: 60px;
	overflow: hidden;

	@media (min-width:320px){
		&__inner{
			width: 100%;
			display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
			
			
			.footer__text{
				position: relative;
				font-weight: lighter;
				padding-top: 20px;
				font-size: 12px;
				
			}
			.footer__link{
				position: relative;
				padding-top: 20px;
				font-size: 12px;
			}
		}
	}


	@media (min-width:768px){
		&__inner{
			width: 768px;
			padding: 1%;

			.footer__text{
				position: absolute;
				right: 26%;
				font-size: 14px;
				padding-top: 8px;
				
			}
			.footer__link{
				position: absolute;
				right: 6%;
				font-size: 14px;
				padding-top: 8px;
			
			}
		}
	}

	@media (min-width:1200px){
		&__inner{
			width: 1200px;
			padding: 1%;
			

			.footer__text{
				position: absolute;
				right: 20%;
				font-size: 16px;
				padding-top: 10px;
				
			}
			.footer__link{
				position: absolute;
				right: 6%;
				font-size: 16px;
				padding-top: 10px;
			
			}
		}
	}




	&__inner{
		width: 1200px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		

		.footer__text{
			margin-left: 0;
			margin-top: 0;
			margin-bottom: 0;
			display: inline-block;
			color: #fff;
			font-family: 'Ubuntu';
			font-size: 16px;
		}

		.footer__link{
			display: inline-block;
			color: #fff;
			font-family: 'Ubuntu';
			font-size: 16px;
			text-decoration: none;
		}
	}
}