.footer{
	background-color:#201b38;
	height: 60px;

	@media (min-width:320px){
		&__inner{
			width: 320px;
			
			.footer__text{
				float: left;

			}
			.footer__link{
				

			}
		}
	}


	@media (min-width:768px){
		&__inner{
			width: 768px;

			.footer__text{
				float: right;
			}
			.footer__link{
				float: right;
			}
		}
	}

	@media (min-width:1280px){
		&__inner{
			width: 1280px;

			.footer__text{
				float: right;
			}
			.footer__link{
				float: right;
			}
		}
	}




	&__inner{
		width: 1280px;
		margin: 0 auto;

		.footer__text{
			margin: 0 auto;
			display: block;
			margin-top: 15px;
			margin-right: 4%;
			float: right;
			color: #fff;
			font-family: 'Ubuntu';
			font-size: 16px;
		}

		.footer__link{
			display: block;
			margin-top: 15px;
			float: right;
			color: #fff;
			font-family: 'Ubuntu';
			font-size: 16px;
			text-decoration: none;
		}
	}
}