.footer{
	background-color:#201b38;
	height: 60px;

	&__inner{
	

		.footer__text{
			display: block;
			margin-right: 4%;
			float: right;
			color: #fff;
			font-family: 'Ubuntu';
			font-size: 16px;
		
			
		
		}
	}
}