.header{
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/header-back-1280.jpg");


	@media (min-width: 320px){
		/*background-image: url("../img/header-back320.jpg");
		background-size: cover;
		background-repeat: no-repeat;*/

		&__inner{
			width: 100%;
			
			.nav-burger{
				display: block;
			}
			.main-nav{
				display: none;
				font-size: 14px;
			}
			.side-bar{
				display: block;
				float: right;
				right: 0;
				.social-morefoto{
					font-family: 'Ubuntu', sans-serif;
					font-weight: lighter;
					font-size: 12px;
				}
			}
			.main-title{
				padding-top: 250px;
				padding-left: 1%;
				margin-left: 1%;
				&__head{
					font-size: 30px;
				}
				&__description{
					font-size: 16px;
				}
			}
		}
	}


	@media (min-width: 768px){
		background-image: url("../img/header-back-1280.jpg");
		background-size: cover;
		background-repeat: no-repeat;

		&__inner{
			width: 768px;
			margin: 0 auto;
			.nav-burger{
				display: none;
			}

			.main-nav{
				margin: 0 auto;
				display: block;
				width: 96%;
				font-size: 14px;
			}
			.side-bar{
				display: none;
			}
			.main-title{
				padding-top: 160px;
				margin-left: 60px;
			}
		}
	}


	@media (min-width: 1200px){
		background-image: url("../img/header-back-1280.jpg");
		background-size: cover;
		background-repeat: no-repeat;

		&__inner{
			width: 1200px;
			margin: 0 auto;
			.nav-burger{
				display: none;
			}

			.main-nav{
				display: block;
				width:94%;
				font-size: 16px;
			}
			.side-bar{
				display: none;
			}
			.main-title{
				padding-top: 5%;
				margin-left: 0;
				&__head{
					font-size: 50px;
				}

				&__description{
					font-size: 20px;
				}
			}
		}
		@media (min-width: 1280px){
			.side-bar{
				display: block;
				right: -42px;
			}
		}
	}



	
	&__inner{
		width: 1200px;	
		margin: 0 auto;
		height: 620px;
		position: relative;
			
		.nav-burger{
			display: none;

			.hidden-menu {
				display: block;
				position: absolute;
				list-style:none;
				padding: 10px;
				padding-left: 60px;
				margin: 0;
				box-sizing: border-box;
				width: 200px;
				height: 620px;
				background-color: #1c1531;
				top: 0px;
				left: -250px;
				transition: left .2s;
				z-index: 2;
				-webkit-transform: translateZ(0);
				-webkit-backface-visibility: hidden;
			  
				padding-top: 200px;
				
				.main-nav__item--burger{
					padding-bottom: 10px;
				}

			  	.main-nav__item--burger a{
				  	color: #fff;
				  	text-decoration: none;
				  	font-family: 'Jura', arial, sans-serif;
						font-size: 14px;

			  	}
			}
				

			.hidden-menu-ticker {
			  display: none;
			}
				

			.btn-menu {
			  border-radius: 90%;
			  border: 2px solid #b6c9cc;
			  color: #b6c9cc;
			  background-color: #1c1531;
			  padding: 5px;
			  position: absolute;
			  cursor: pointer;
			  transition: left .23s;
			  z-index: 3;
			  width: 25px;
			  -webkit-transform: translateZ(0);
			  -webkit-backface-visibility: hidden;
			  margin-top: 2%;
			  margin-left: 2%;
			}
			.btn-menu span {
			  display: block;
			  height: 1px;
			  background-color: #b6c9cc;
			  margin: 8px 0 0;
			  transition: all .1s linear .23s;
			  position: relative;

			}
			.btn-menu span.first {
			  margin-top: 0;
			}

			.hidden-menu-ticker:checked ~ .btn-menu {
			  left: 5px;
			}
			.hidden-menu-ticker:checked ~ .hidden-menu {
			  top: 0px;
			  left: -45px;
			}
			.hidden-menu-ticker:checked ~ .btn-menu span.first {
			  -webkit-transform: rotate(45deg);
			  top: 10px;
			}
			.hidden-menu-ticker:checked ~ .btn-menu span.second {
			  opacity: 0;
			}
			.hidden-menu-ticker:checked ~ .btn-menu span.third {
			  -webkit-transform: rotate(-45deg);
			  top: -10px;
			}

			.main-title{
				color: #e6fffd;
				font-size: 30px;
			}
		}

		.main-nav{
			font-family: 'Jura', arial, sans-serif;
			font-size: 16px;
			width: 100%;
			background-color: #201b38;
			opacity: 0.5;
			
			&__list{
				display: flex;
				justify-content: space-between;
				padding: 2%;
				
				li.main-nav__item{
					list-style: none;
						

					a.main-nav__link{
						text-decoration: none;
						color: #e6fffd;
						font-size: 16px;
					}
				}

				li.main-nav__item:last-child{
					margin-right: 5%;
				}
				li.main-nav__item:first-child{
					margin-left: 5%;
				}
			}
		}

		.main-title{
			margin-left: 13%;
			color: #fff;
			padding-top: 5%;

			&__head{
				font-family: 'NordMedium', sans-serif;
				font-size: 50px;
				padding-left: 1%;
			}

			&__description{
				font-family: 'Jura', arial, sans-serif;
				font-size: 20px;
				padding-left: 1%;
			}
		}

		.side-bar{
			display: block;
			font-family: 'Ubuntu',arial, sans-serif;
			font-weight: lighter;
			font-size: 16px;
			position: absolute; 
			right: -42px; 
			top: -3%; 
			bottom: 0; 
			height: 103%; 
			width: 42px; 
			background-color: #201b38; 
			display: block; 
			opacity: 0.5; 
				


			.social{

				&--vk{
					position: absolute;
					top:7%;
					width: 25px;
					height: 20px;
					left: 8px;	
					}
				}
			
			.social-morefoto{
				position: absolute;
				right:-75px;
			  bottom: 47%;
			  text-decoration: none;

				&__link{
					margin: 0;
					text-decoration: none;
					color: #e6fffd;
					font-size: 16px;
					transform:rotate(-90deg);
					width: 200px;
				}
			}
		}
	}
}