.legend-section{

	&__inner{
		margin-left: 2%;
		width: 94%;
		display: flex;
		


		.legend-section__info{
			.legend-section__title{
				font-family: 'Jura Light', arial;
				font-size: 30px;
			}

			.legend-slider{
				margin: 0 auto;
				padding: 0;
				border: 5px solid #ffdffd;
				display: flex;

				&__item{
					border: 5px solid #000;
					width: 100%;
					
				.legend-slider__text{
					font-family: 'Jura Light', arial;
					font-size: 16px;
					font-weight: lighter;
				}
			}
		}
		}
	.legend-section__img{
		.legend-section__photo{

		}
	}
	}
}