.places-season{
	

	@media (min-width:320px){
		&__inner{
		
		}
	}


	@media (min-width:768px){
		&__inner{
			
		}
	}


	@media (min-width:1280px){
		&__inner{
			
		}
	}



	&__inner{
		margin-left: 2%;
		width: 94%;
		display: flex;
		height: 534px;
		
		.places-season__map{
			background-image: url('../../img/places-season-map.jpg');
			background-repeat: no-repeat;
			background-size: cover;

		}

		.places-season__map{
			flex-basis: 58.33%;
		}
		
		

		.places-season__info{
			flex-basis: 41.66%;
			
			.places-season__title{
				font-size: 30px;
				font-family: 'Jura Light', arial;
				font-weight: lighter;
				color: #201b38;
				padding-left: 4%;
				margin-top: 6%;
			}

			.places-season__list{
				display: flex;
				justify-content: space-between;
				list-style: none;
				font-size: 16;
				color: #201b38;
				padding-left: 4%;
				margin-top: 10%;


				.places-season__item{
					font-size: 16px;
					font-family: 'Jura Light', arial;
				}


				.places-season__item--summer:before{
					content: "  ";
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: #ef8989;
					vertical-align: middle;
				}

				

				.places-season__item--winter:before{
					content: " ";
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: #04a8a8;
					vertical-align: middle;
				}
				

				.places-season__item--spring:before{
					content: "  ";
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: #cdd63f;
					vertical-align: middle;
				}

				.places-season__item--autumn:before{
					content: "  ";
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: #efb672;
					vertical-align: middle;
				}
			}


			.places-season__text{
				padding-left: 4%;
				font-family: 'Ubuntu', sans-serif;
				font-weight: lighter;
				font-size: 16px;
				color: #201b38;
				line-height: 30px;
				margin-top: 12%;
			}
		}
	}
}




