.residence{
	overflow: hidden;



	@media (min-width:320px){
		background-color: #fff;
		&__inner{
			.residence__title {
			}
			.residence-tabs {
				display: none;

				.residence-tabs__list {
					flex-direction:column;
					.residence-tabs__regions {
					}
					.active-li {
					}
				}
				.residence-tabs__content.active-tab {
					width: 100%;
				}
				.residence-tabs__content {
					.residence-tabs__content-table {
						
					}
					.active-tab {

					}
					.residence-tabs__regions-link {
					}
				}	
			}
			.residence-tabs.accordeon{
				display: block;
			}
		}
	}


	@media (min-width:768px){
		background-color: #eaeaec;
		&__inner{
			.residence__title {
			}
			.residence-tabs {
				display: block;

				.residence-tabs__list {
					flex-direction:row;
				

					.residence-tabs__regions {
					}
					.active-li {
					}
				}
				.residence-tabs__content.active-tab {
					width: 66%;
				}
				.residence-tabs__content {
					.residence-tabs__content-table {
					}
					.active-tab {
					}
					.residence-tabs__regions-link {
					}
				}	
			}
			.residence-tabs.accordeon{
				display: none;
			}

		}
	}


	@media (min-width:1280px){
		background-color: #fff;
		&__inner{
			.residence__title {
			}
			.residence-tabs {
				display: block;

				.residence-tabs__list {
					flex-direction:row;
					
					.residence-tabs__regions {
					}
					.active-li {
					}
				}
				.residence-tabs__content.active-tab {
					width: 66%;
				}
				.residence-tabs__content {
					.residence-tabs__content-table {
					}
					.active-tab {
					}
					.residence-tabs__regions-link {
					}
				}	
			}
			.residence-tabs.accordeon{
				display: none;
			}
		}
	}



	
	&__inner{
		margin-left: 2%;
		width: 94%;

		.residence__title{
			font-family: 'Jura Light', arial;
			font-size: 30px;
			color: #201b38;
		}

		.residence-tabs {
			&__list {
				padding: 0;
				display: flex;
				justify-content: space-between;
				list-style: none;
				text-decoration: none;
				font-family: 'Jura Light', arial;
				font-size: 20px;
				color: #201b38;
				
				.residence-tabs__regions{
					cursor: pointer;
				}

				.active-li {
						color: #91c5a7;
				}
				.active-li:after{
					content: "  ";
					display: inline-block;
					width: 15px;
					height: 15px;
					background: url('../../img/residence-arrow--active.png');
					background-repeat: no-repeat;
					vertical-align: middle;
				}
			}

			&__regions:after{
				content: "  ";
				display: inline-block;
				width: 15px;
				height: 15px;
				background: url('../../img/residence-arrow.png');
				background-repeat: no-repeat;
				vertical-align: middle;
			}


			&__regions {

				
			}
			
			.residence-tabs__content.active-tab {
				display: block;
				width: 66%;

				font-family: 'Jura Light', arial;
				font-size: 16px;
				color: #201b38;

				.residence-tabs__content-table{
					display: grid;
					grid-template-columns: 1fr 2fr 1fr;
					grid-template-rows: 60px 60px 60px;
					border: 1px solid #d0d0d0;
					text-align: center;
					
					span{
						padding-top: 15px;
						border: 1px solid #d0d0d0;
					}
				}

				.residence-tabs__regions-link{
					color: #201c38;
					text-decoration: underline;
					display: inline-block;
					margin-top: 4%;
					margin-bottom: 8%;
				}
			}

			.residence-tabs__content {
				display: none;
			}
		}
	}
}
