.reviews-section{
	margin: 0 auto;
	background-color: #b2dad0; 
	overflow: hidden;
	



	@media (min-width:320px){
		&__inner{
			width: 320px;
			padding: 1%;

			.reviews-section__title{
				font-size: 20px;
			}

			.reviews-slider{
			display: flex;

				.reviews-slider__item{
					
					.reviews-slider__item-img{
							width: 40px;
							height: 30px;
						.reviews-slider__item-foto{
						
						}
						.reviews-slider__item-author{
							font-size: 10px;
							font-weight: lighter;
						}	
						
					}

					.reviews-slider__item-text{
						font-size: 10px;
						font-weight: lighter;
					}

					.reviews-slider__item-text:after {
					
					}
				}
			}
		}
	}


	@media (min-width:768px){
		&__inner{
			width: 768px;
		}
	}


	@media (min-width:1280px){
		&__inner{
			width: 1280px;
		}
	}


	

	&__inner{
		margin: 0 auto;
		width: 1280px;
		padding-top: 3%;

		.reviews-section__title{
			margin: 0 auto;
			font-family: 'Jura', arial;
			padding-bottom: 3%;
			font-size: 30px;
			line-height: 30px;
		}

		.reviews-slider{
			display: flex;

			&__item{
				display: flex;

				
				.reviews-slider__item-img{
					width: $col4;

					.reviews-slider__item-foto{	
					}

					.reviews-slider__item-author{
						font-family: 'Ubuntu', sans-serif;
						font-size: 16px;
						font-weight: lighter;
					}
				}

				.reviews-slider__item-text{
					
					width: $col7;
					font-family: 'Ubuntu', sans-serif;
					font-size: 16px;
					font-weight: lighter;
					background-color: #fff;
					box-sizing: border-box;
					padding: 20px;
					margin: 0 auto;
					margin-left: 5%;
					position: relative;
					
				}

				.reviews-slider__item-text:after {
				    content: ''; 
				    position: absolute; /* Абсолютное позиционирование */
				    left: -30px; top:0; /* Положение треугольника */
				    border: 30px solid transparent; /* Прозрачные границы */
				    border-top: 20px solid #fff; /* Добавляем треугольник */
				}
			}
		}
	}
}