.reviews-section{
	margin: 0 auto;
	background-color: #b2dad0; 
	overflow: hidden;
	



	@media (min-width:320px){
		&__inner{
			width: 100%;
			padding: 1%;
			

			.reviews-section__title{
				font-size: 20px;
			}

			.reviews-slider{
       

				.reviews-slider__item{
					padding: 1%;	
					padding-bottom: 20px;
					
					.reviews-slider__item-img{
						
						.reviews-slider__item-foto{
							width: 80px;
							height: 70px;
							
						}
						.reviews-slider__item-author{
							font-size: 10px;
							font-weight: lighter;
							padding-right: 10%;
						}	
						
					}

					.reviews-slider__item-text{
						font-size: 10px;
						line-height: 10px;
						padding: 10px 10px;
						margin: 0 auto;
						position: relative;
						
						z-index: 0;
					}
					.reviews-slider__item-text:after {
					    left: -15px; top:0; /* Положение треугольника */
					    border: 20px solid transparent; /* Прозрачные границы */
					    border-top: 15px solid #fff; /* Добавляем треугольник */
							z-index: 11111;
					}
				}
			}
			.slick-dots {
				left:35%;
				bottom: -20px;
				
			}
			
			.slick-dots li button{
				width: 15px;
			 	height: 15px;
			 	
			}
			.slick-dots li button:before {
			 	
			 	width: 15px;
			 	height: 15px;
			 	
			 }
		}
	}


	@media (min-width:768px){
		&__inner{
			width: 768px;
			

			.reviews-section__title{
			font-size: 20px;
			
			}

			.reviews-slider{
				

				.reviews-slider__item{
					display: flex;
					padding-bottom: 50px;
					margin-right: 0;
					padding-right: 0;
					
					.reviews-slider__item-img{
						padding-bottom: 20px;

						.reviews-slider__item-foto{
							width: 100px;
							height: 80px;	
						}

						.reviews-slider__item-author{
							font-size: 12px;
						}
					}

					.reviews-slider__item-text{
						
						
						font-size: 14px;
						line-height: 14px;
						padding: 20px 10px;
						margin: 0 auto;
						position: relative;
					}

					.reviews-slider__item-text:after {
					    left: -20px; top:0; /* Положение треугольника */
					    border: 20px solid transparent; /* Прозрачные границы */
					    border-top: 10px solid #fff; /* Добавляем треугольник */
					}
				}
			}
			.slick-dots {
				left:35%;
				bottom: -30px;
				
			}
			
			.slick-dots li button{
				width: 15px;
			 	height: 15px;
			 	
			}
			.slick-dots li button:before {
			 	
			 	width: 15px;
			 	height: 15px;
			 	
			 }
		}
	}


	@media (min-width:1200px){
		&__inner{
			width: 1200px;

			.reviews-section__title{
			font-size: 30px;
			
			}

			.reviews-slider{
				

				.reviews-slider__item{
					display: flex;
					padding-bottom: 50px;

					
					.reviews-slider__item-img{
						

						.reviews-slider__item-foto{
							width: 160px;
							height: 140px;	
						}

						.reviews-slider__item-author{
							font-size: 16px;
						}
					}

					.reviews-slider__item-text{
				
						font-size: 16px;
						padding: 30px 20px;
						margin: 0 auto;
						position: relative;
						line-height: 25px;
					}

					.reviews-slider__item-text:after {
					    left: -30px; top:0; /* Положение треугольника */
					    border: 30px solid transparent; /* Прозрачные границы */
					    border-top: 20px solid #fff; /* Добавляем треугольник */
					}
				}

				.slick-dots {
					left:40%;
					bottom: -30px;
					
				}
				
				.slick-dots li button{
					width: 20px;
				 	height: 20px;
				 	
				}
				.slick-dots li button:before {
				 	
				 	width: 20px;
				 	height: 20px;
				}
			}
		}
	}


	

	&__inner{
		margin: 0 auto;
		width: 1200px;
		padding: 1%;
		padding-top: 3%;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

		.reviews-section__title{
			margin: 0 auto;
			font-family: 'Jura', arial;
			padding-bottom: 3%;
			font-size: 30px;
			line-height: 30px;
		}

		.reviews-slider{
			

			&__item{
				display: flex;
				padding-bottom: 50px;
				
				.reviews-slider__item-img{
					

					.reviews-slider__item-foto{	
					}

					.reviews-slider__item-author{
						font-family: 'Ubuntu', sans-serif;
						font-size: 16px;
						font-weight: lighter;
						margin-right: 0;
					}
				}

				.reviews-slider__item-text{
					
					
					font-family: 'Ubuntu', sans-serif;
					font-size: 16px;
					line-height: 25px;
					font-weight: lighter;
					background-color: #fff;
					width: 50%;

					
					position: relative;
					
				}

				.reviews-slider__item-text:after {
				    content: ''; 
				    position: absolute; /* Абсолютное позиционирование */
				    left: -30px; top:0; /* Положение треугольника */
				    border: 30px solid transparent; /* Прозрачные границы */
				    border-top: 20px solid #fff; /* Добавляем треугольник */
				}
			}
		}

		/*.slick-slider{
			-webkit-tap-highlight-color: #201b38;
		}*/

		.slick-dots {
			left:40%;
			bottom: -30px;
			width: 100%;
			box-sizing: border-box;
			cursor: pointer;
		}
		.slick-dots li {
			margin-right: 15px;
			float: left;
		}
		.slick-dots li button{
			width: 20px;
		 	height: 20px;
		 	background: #fff;
		}
		.slick-dots li button:before {
		 	content:' ';
		 	width: 20px;
		 	height: 20px;
		 	background-color: #fff;
		 }

		.slick-dots li.slick-active button:before {
			background-color:  #201b38;
		}

		.slick-arrow{
			opacity: 0;
		}
	}
}