$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$text-color:                  #000;

$font-family:                 'Open Sans_my', sans-serif;
$font-size:                   14px;




$col1: 					8.33%; 
$col2: 					16.66%;
$col3: 					25%; 
$col4: 					33.33%; 
$col5: 					41.66%; 
$col6: 					50%; 
$col7: 					58.33%; 
$col8: 					66.66%; 
$col9: 					75%; 
$col10: 				83.11%; 
$col11: 				91.66%; 
$col12: 				100%;
